.git
.w2l
node_modules
**/node_modules
**/dist
**/*.tsbuildinfo
**/test
**/test/**
docs
examples
scripts
!apps/public-web/scripts/
!apps/public-web/scripts/build-docs.mjs
.github
render.yaml
Dockerfile
.dockerignore
.gitignore
vitest.config.ts
LICENSE
research/*
!research/amazon-product-schema.v1.json
*.md
!apps/public-web/content/*.md
*.py
*.tgz
*.zip
