.git
.w2l
node_modules
**/node_modules
**/dist
**/*.tsbuildinfo
**/test
**/test/**
docs
examples
scripts
.github
render.yaml
Dockerfile
.dockerignore
.gitignore
vitest.config.ts
LICENSE
research/*
!research/amazon-product-schema.v1.json
*.md
*.py
*.tgz
*.zip
